@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h4>Login</h4>

<div class="container" style="text-align">
    <form action="/Acceso/Login" method="post">
        <div class="form-group">
            <label>Usuario</label>
            <input type="email" name="correo" />
        </div>
        <div class="form-group">
            <label>Contrasena</label>
            <input type="password" name="pass" />
        </div>
        <div>
            <label class="text-warning">@ViewBag.error</label>
        </div>
        <div class="form-group" >
            <button class="btn btn-group">Iniciar</button>
            <label> @Html.ActionLink("Registrar", "Registrar", "Acceso")</label>
        </div>
    </form>

</div>
